<div class="modal fade" id="<%= modal_id %>" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel"><%= title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= body %>
      </div>
      <div class="modal-footer">
        <button type="button" class="<%= no_btn %>" data-bs-dismiss="modal"><%= no %></button>
        <% if devise_action || params[:action] == 'show' %>
          <%= link_to yes, "#", id: "confirm-action", class: yes_btn, method: :delete %>
        <% else %>
          <button type="button" class="<%= yes_btn %>" id="confirm-button"><%= yes %></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
