<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "fs-2 text-decoration-none text-dark ms-2" do %>
      <i class="fa-solid fa-music fs-1 text-info"></i>
      Music Tabs
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex align-items-center" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link", aria: { current: "page" } %>
          </li>
          <li class="nav-item">
            <%= link_to "Tabs", tabs_path, class: "nav-link", aria: { current: "page" } %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <div class="d-flex align-items-center">
          <li class="nav-item">
            <%= link_to edit_user_registration_path, class: "btn btn-sm btn-outline-success", aria: { current: "page" } do %>
              <i class="bi bi-gear-fill" fill="currentColor"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, class: "btn btn-sm btn-outline-danger", method: :delete, aria: { current: "page" } %>
          </li>
          </div>
        <% else %>
          <div class="d-flex align-items-center">
            <li class="nav-item">
              <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-sm btn-info", aria: { current: "page" } %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign-in", new_user_session_path, class: "btn btn-sm btn-outline-info", aria: { current: "page" } %>
            </li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
