<%= form_with(model: tab, html: { id: "tab-form" }) do |form| %>
  <% if tab.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tab.errors.count, "error") %> prohibited this tab from being saved:</h2>

      <ul>
        <% tab.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, style: "display: block", class: "h5 form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field mt-4">
    <%= form.label :content, style: "display: block", class: "h5 form-label" %>
    <%= form.rich_text_area :content, class: "form-control" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions d-flex align-items-center justify-content-center mt-2">
    <%= button_tag button_label, type: "button", class: "btn btn-outline-primary submit-button", data: { form_id: "tab-form" } %>
  </div>
<% end %>

<%= render 'shared/modal', title: 'Confirm Submission', body: 'Are you sure?', no: 'Cancel', yes: 'Confirm', no_btn: 'btn btn-danger', yes_btn: 'btn btn-success'  %>

<%= javascript_include_tag 'form_modal' %>
