<%= form_with(model: tab, local: false, html: { id: 'tab-form' }) do |form| %>
  <% if tab.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tab.errors.count, "error") %> prohibited this tab from being saved:</h2>

      <ul>
        <% tab.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, style: "display: block", class: "h5 form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field mt-4">
    <%= form.label :content, style: "display: block", class: "h5 form-label" %>
    <%= form.rich_text_area :content, class: "form-control" %>
  </div>

  <!-- add the current user id value -->
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions d-flex align-items-center justify-content-center mt-2">
    <%= form.submit "Submit", class: "btn btn-primary" %>
    <%= button_tag "Submit", type: "button", class: "btn btn-outline-primary", id: "submit-button" %>
  </div>
<% end %>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm Submission</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" id="confirm-button">Confirm</button>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'modal' %>
