<div class="row justify-content-center">
  <div class="col-9 mb-3">
    <%= search_form_for @q, url: tabs_path, method: :get, remote: true, html: { id: 'search-form' } do |f| %>
      <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
        <%= f.search_field :title_cont, placeholder: "Search tabs", class: "form-control", id: 'search-input', oninput: "submitForm();" %>
        <%= f.submit class: "btn btn-outline-info btn-block mx-1 d-none" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-9">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="h4">Tabs</div>
        <%= link_to new_tab_path, class: "btn btn-sm btn-outline-primary" do %>
          <i class="fa-solid fa-plus fa-lg"></i>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <div id="tabs">
          <%= render 'tabs_list', tabs: @tabs %>
        </div>
      </ul>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-2">
  <%= paginate @tabs, remote: true %>
</div>

<script>
  function submitForm() {
    var searchInput = document.getElementById('search-input');
    var cursorPosition = searchInput.selectionStart;

    clearTimeout(window.searchTimeout);
    window.searchTimeout = setTimeout(function() {
      $.ajax({
        url: $('#search-form').attr('action'),
        data: $('#search-form').serialize(),
        dataType: 'script',
        success: function() {
          searchInput.focus();
          searchInput.setSelectionRange(cursorPosition, cursorPosition);
        }
      });
    }, 300);
  }
</script>
