<div class="row justify-content-center">
  <div class="col-9 mb-2">
    <%= search_form_for @q do |f| %>
      <div class="input-group">
        <%= f.text_field :title_cont, placeholder: "Search tabs", class: "form-control" %>
        <%= f.submit class: "btn btn-outline-info btn-block mx-1" %>
        <%= link_to 'Clear', tabs_path, class: "btn btn-outline-secondary btn-block" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-9">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="h4">Tabs</div>
        <%= link_to new_tab_path, class: "btn btn-sm btn-outline-primary" do %>
          <i class="fa-solid fa-plus fa-lg"></i>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <div id="tabs">
          <%= render 'tabs_list', tabs: @tabs %>
        </div>
      </ul>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-2">
  <%= paginate @tabs, remote: true %>
</div>
