<p style="color: green"><%= notice %></p>

<div class="row justify-content-center">
  <div class="col-9">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="col-3">
          <%= link_to tabs_path do %>
            <i class="fa-solid fa-chevron-left"></i>
          <% end %>
        </div>

        <div class="col-3 h5 text-center">
          <%= @tab.title %>
        </div>

        <div class="col-3 d-flex justify-content-end">
          <div>
            <%= link_to edit_tab_path(@tab) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
          </div>

          <div>
            <%= link_to @tab, method: :delete do %>
              <i class="fa-solid fa-trash text-danger ms-2"></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card-body container-fluid">
        <%= @tab.content %>
      </div>
    </div>
  </div>
</div>

<footer class="fixed-bottom bg-light">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col text-center my-1">
        <button id="auto-scroll-btn" class="btn btn-outline-dark-emphasis">
          Auto Scroll<i class="fa-solid fa-play ms-2"></i>
        </button>

        <div class="btn-group">
          <div id="decrease-speed-btn" class="btn btn-outline-dark-emphasis"><i class="fa-solid fa-minus"></i></div>
          <div class="btn btn-outline-dark-emphasis" aria-current="page" id="scroll-speed-display">Scroll Speed: 1</div>
          <div id="increase-speed-btn" class="btn btn-outline-dark-emphasis"><i class="fa-solid fa-plus"></i></div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  let scrollInterval;
  let scrollSpeed = 1; // Initial speed level

  // Function to start auto-scrolling
  function startAutoScroll() {
    const speedMapping = {
      1: 200,
      2: 100,
      3: 50,
      4: 1,
      5: 1
    };
    const scrollAmount = scrollSpeed === 5 ? 2 : 1;
    scrollInterval = setInterval(() => {
      window.scrollBy(0, scrollAmount);
    }, speedMapping[scrollSpeed]);

    // Change button text and icon to indicate pause action
    document.getElementById('auto-scroll-btn').innerHTML = 'Pause Scroll<i class="fa-solid fa-pause ms-2"></i>';
  }

  // Function to stop auto-scrolling
  function stopAutoScroll() {
    clearInterval(scrollInterval);
    scrollInterval = null;

    // Change button text and icon to indicate start action
    document.getElementById('auto-scroll-btn').innerHTML = 'Auto Scroll<i class="fa-solid fa-play ms-2"></i>';
  }

  // Toggle auto-scrolling
  document.getElementById('auto-scroll-btn').addEventListener('click', () => {
    if (scrollInterval) {
      stopAutoScroll();
    } else {
      startAutoScroll();
    }
  });

  // Change speed without starting auto-scroll if it's not already running
  document.getElementById('increase-speed-btn').addEventListener('click', () => {
    if (scrollSpeed < 5) {
      scrollSpeed++;
      document.getElementById('scroll-speed-display').textContent = `Scroll Speed: ${scrollSpeed}`;
      if (scrollInterval) {
        clearInterval(scrollInterval);
        startAutoScroll(); // Restart auto-scroll with new speed if it was running
      }
    }
  });

  document.getElementById('decrease-speed-btn').addEventListener('click', () => {
    if (scrollSpeed > 1) {
      scrollSpeed--;
      document.getElementById('scroll-speed-display').textContent = `Scroll Speed: ${scrollSpeed}`;
      if (scrollInterval) {
        clearInterval(scrollInterval);
        startAutoScroll(); // Restart auto-scroll with new speed if it was running
      }
    }
  });
</script>
