<!--app/views/tabs/show/_show_card.html.erb-->
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="col-3">
      <%= link_to tabs_path do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    </div>

    <div class="col-3 h5 text-center">
      <%= tab.title %>
    </div>

    <div class="col-3 d-flex justify-content-end">
      <div>
        <%= link_to edit_tab_path(tab) do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      </div>

      <div>
        <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#confirmationModal", bs_tab_id: tab.id } do %>
          <i class="fa-solid fa-trash text-danger ms-2"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-body container-fluid">
    <%= tab.content %>
  </div>
</div>

<%= render 'shared/modal', title: 'Confirm Delete', body: 'Are you sure you want to proceed?', yes: 'Delete', no: 'Cancel', no_btn: 'btn btn-info', yes_btn: 'btn btn-danger' %>

<%= javascript_include_tag 'link_modal' %>
