<!-- Nice and DRY application layout file -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= render "shared/meta_tags" %>
    <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_importmap_tags %>
    <%= render "shared/cdn_assests"%>
    <link rel="manifest" href="/manifest.json" />
  </head>

  <body class="grey-bg">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="container-fluid my-2">
      <div id="breadcrumbs">
        <%= render "shared/breadcrumbs" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
